<!doctype html>
<html lang="en">
<head>

<link rel="stylesheet/less" type="text/css" href="/static/dance.less" />
<script>
  less = {env: 'development', poll: 3000}
</script>
<script src="/static/lib/less-1.4.2.js"></script>

{%- if config['GA_ID'] -%}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga')

  ga('create', '{{ config['GA_ID'] }}', 'auto')
  ga('send', 'pageview')
</script>
{%- endif %}

</head>
<body>

<div id="dances">
  <style id="grid-style"></style>
</div>

<div id="photobooth">
  <h1>show me your moves!</h1>
  <div id="preview">
    <img class="gif">
  </div>
  <button id="hide-booth">nah.</button>
  <button id="start-camera">start the camera!</button>
  <button id="record">let's dance!</button>
  <button id="redo-gif">redo</button>
  <button id="upload-gif">upload</button>
</div>

<footer>
  <span class="heart">&lt;3</span>
  <span><a href="http://chromakode.com" target="_blank">max</a>, <a href="http://redditgifts.com" target="_blank">redditgifts</a>, and <a href="http://xkcd.com" target="_blank">xkcd</a></span>
  <a class="code" href="https://github.com/chromakode/danceparty" target="_blank">code</a>
  <a class="contact" href="mailto:hey@showmeyourmov.es">contact</a>
</footer>

<script src="/static/lib/jquery-2.0.3.min.js"></script>
<script src="/static/lib/underscore-1.4.4.js"></script>
<script src="/static/lib/backbone-1.0.0.js"></script>
<script src="/static/lib/gif.js"></script>
<script src="/static/lib/camera.js"></script>
<script src="/static/danceparty.js"></script>
<script>
  dances.reset({{ dances_json|tojson }})
  config = {{ config_data|tojson }}
</script>

</body>
</html>
